{{define "contact-page"}}{{template "head" .}}
{{template "header" .}}
      <h2>Contact</h2>
      <ul>
        <li>For general queries, <a href="mailto:hello@paster.xyz">hello@paster.xyz</a>.</li>
        <li>For bug or error reporting, <a href="mailto:admin@paster.xyz">bugs@paster.xyz</a>.</li>
        <li>For data/privacy requests or questions, <a href="mailto:privacy@paster.xyz">privacy@paster.xyz</a>.</li>
        <li>For removal requests, <a href="mailto:removal@paster.xyz">removal@paster.xyz</a>.</li>
        <li>For the creator, <a href="mailto:hello@patrickmcnamara.xyz">hello@patrickmcnamara.xyz</a>.</li>
      </ul>
{{template "footer"}}{{end}}
