{{define "cookie-policy-page"}}{{template "head" .}}
{{template "header" .}}
      <h2>Cookie Policy</h2>
      <h3>What is a cookie?</h3>
      <blockquote cite="http://ec.europa.eu/ipg/basics/legal/cookies/index_en.htm">
        <p>A cookie is a small piece of data that a website asks your browser to store on your computer or mobile device. The cookie allows the website to "remember" your actions or preferences over time.</p>
        <p>Most browsers support cookies, but users can set their browsers to decline them and can delete them whenever they like.</p>
      </blockquote>
      <cite>European Commission, europa.eu</cite>
      <h3>Does paster.xyz use cookies?</h3>
      <p>Yes.</p>
      <p>Whenever you first submit a paste, a persistent cookie is saved. The cookie expires in two years and is renewed every time a new paste is submitted. This value of this cookie is tagged on to each paste so that you can see a history of your pastes.</p>
      <h3>Does paster.xyz use any third-party cookies?</h3>
      <p>No.</p>
      <p>paster.xyz does not use any third-party cookies.</p>
      <h3>How do I opt-out of using cookies on paster.xyz?</h3>
      <p>You can block cookies using your client.</p>
      <p>This will make <a href="/history">history</a> stop working.</p>
{{template "footer"}}{{end}}
