{{define "other-page"}}{{template "head" .}}
{{template "header" .}}
      <nav>
        <ul>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <ul>
          <li><a href="/cookie-policy">Cookie Policy</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
        <ul>
          <li><a href="https://github.com/patrickmcnamara/paster.xyz/">Source Code</a></li>
          <li><a href="https://raw.githubusercontent.com/patrickmcnamara/paster.xyz/master/LICENSE.txt">License</a> (AGPL-3.0)</li>
        </ul>
        <ul>
          <li><a href="/paster-xyz.tar.gz">Archive</a> (tar.gz)</li>
        </ul>
      </nav>
{{template "footer"}}{{end}}
