{{define "other-page"}}{{template "head" .}}
{{template "header" .}}
      <nav>
        <ul>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/cookie-policy">Cookie Policy</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
        <ul>
          <li><a href="https://github.com/patrickmcnamara/paster.xyz/">Source Code</a></li>
          <li><a href="https://raw.githubusercontent.com/patrickmcnamara/paster.xyz/master/LICENCE.txt">Licence</a> (EUPL-1.2)</li>
        </ul>
        <ul>
          <li><a href="/paster-xyz.tar.gz">Archive</a></li>
        </ul>
      </nav>
{{template "footer"}}{{end}}
