{{define "head"}}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A very minimal paste website. Simply paste, submit and get a link." />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
    <title>{{if .}}{{.}} - {{end}}paster.xyz</title>
  </head>

  <body>{{end}}

{{define "header"}}    <header>
      <h1><a{{if .}}{{if eq . "index"}} id="current-page"{{end}}{{end}} href="/">paster.xyz</a></h1>
      <nav>
        <ul>
          <li><a{{if .}}{{if eq . "history"}} id="current-page"{{end}}{{end}} href="/history">History</a></li>
          <li><a{{if .}}{{if eq . "recent"}} id="current-page"{{end}}{{end}} href="/recent">Recent</a></li>
          <li><a{{if .}}{{if eq . "other"}} id="current-page"{{end}}{{end}} href="/other">Other</a></li>
        </ul>
      </nav>
    </header>

    <hr>

    <main>{{end}}

{{define "footer"}}    </main>
  </body>
</html>{{end}}
