{{define "head"}}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A very minimal paste website. Simply paste, submit and get a link." />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
    <title>{{if .}}{{.}} - {{end}}paster</title>
  </head>

  <body>{{end}}

{{define "header"}}    <header>
      <h1><a href="/">paster</a>{{if .}}{{if eq . "index"}}*{{end}}{{end}}</h1>
      <nav>
        <ul>
          <li><a href="/history">History</a>{{if .}}{{if eq . "history"}}*{{end}}{{end}}</li>
          <li><a href="/recent">Recent</a>{{if .}}{{if eq . "recent"}}*{{end}}{{end}}</li>
          <li><a href="/other">Other</a>{{if .}}{{if eq . "other"}}*{{end}}{{end}}</li>
        </ul>
      </nav>
    </header>

    <hr>

    <main>{{end}}

{{define "footer"}}    </main>
  </body>
</html>{{end}}
