{{define "head"}}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A very minimal paste website. Simply paste, submit and get a link." />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
    <title>{{if .}}{{.}} - {{end}}paster</title>
  </head>

  <body>{{end}}

{{define "header"}}    <header>
      <h1><a href="/">paster</a>{{if .}}{{if eq . "paster"}}*{{end}}{{end}}</h1>
      <ul>
        <li><a href="/history">History</a>{{if .}}{{if eq . "history"}}*{{end}}{{end}}</li>
        <li><a href="/recent">Recent</a>{{if .}}{{if eq . "recent"}}*{{end}}{{end}}</li>
      </ul>
    </header>

    <hr>

    <main>{{end}}

{{define "paste-box"}}      <form id="paste-form" action="/" method="post">
        <textarea id="paste-box" form="paste-form" name="Value" required></textarea>
        <div class="paste-option" id="paste-checkbox">
          <label for="List">list on recents</label>
          <input type="checkbox" name="List" value="list" checked>
        </div>
        <div class="paste-option" id="paste-datetime-local">
          <label for="List">expires on</label>
          <input type="datetime-local" name="Expiry">
        </div>
        <input id="paste-button" type="submit" value="submit">
      </form>{{end}}

{{define "paste-list"}}      {{if .}}<ul>
      {{range .}}  <li><a href="/{{.ID}}">{{.ID}}</a> - {{.Time.Format "2006-01-02 15:04:05"}}{{if .Expiry.Valid}} until {{.Expiry.Time.Format "2006-01-02 15:04:05"}}{{end}}</li>
      {{end}}</ul>{{else}}<p>Nothing found.</p>{{end}}{{end}}

{{define "error"}}      <h2>{{.Title}}</h2>
      <p>{{.Description}}</p>{{end}}

{{define "footer"}}    </main>

    <hr>

    <footer>
      <p id="footer-text">Contact <a href="mailto:admin@paster.xyz">admin@paster.xyz</a> for inquiries. <a href="https://github.com/patrickmcnamara/paster.xyz/">Source code here.</a></p>
    </footer>
  </body>
</html>{{end}}
