{{define "privacy-policy-page"}}{{template "head" .}}
{{template "header" .}}
      <h2>Privacy Policy</h2>
      <p>paster.xyz doesn't collect any personal information.</p>
{{template "footer"}}{{end}}
