{{define "recent-page"}}{{template "head" "recent"}}
{{template "header" "recent"}}
      {{if .}}<ul>
      {{range .}}  <li><a href="/{{index . 0}}">{{index . 0}}</a> - {{index . 1}}</li>
      {{end}}</ul>{{else}}<p>Nothing found.</p>{{end}}
{{template "footer"}}{{end}}
