body {
    font-family: monospace, monospace;
    font-style: normal;
    max-width: 64rem;
    min-width: 16rem;
    margin: auto;
    border: none;
    padding: 1rem;
}

#current-page {
    font-style: italic;
    font-weight: bold;
}

#paste-box {
    width: 100%;
    height: 24em;
    resize: none;
    box-sizing: border-box;
}

.paste-option {
    margin-top: .5em;
    margin-bottom: .5em;
}

#paste-button {
    width: 100%;
}
