* {
    font-family: monospace, monospace;
}

body {
    max-width: 1024px;
    min-width: 256px;
    margin: auto;
    border: none;
    padding: 16px;
}

#paste-box {
    height: 32em;
    width: 100%;
    resize: none;
}
