body {
    font-family: monospace, monospace;
    max-width: 64rem;
    min-width: 16rem;
    margin: auto;
    border: none;
    padding: 1rem;
}

#current-page {
    font-style: italic;
}

#paste-box {
    width: 100%;
    height: 24em;
    resize: none;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

#paste-button {
    width: 100%;
}

#recent-next {
    float: right;
}
